:root {
  --dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
  --animation-delay: 1s;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  line-height: 1.5em;
  background-image: url("../images/bg-pattern-top-desktop.svg"),
    url("../images/bg-pattern-bottom-desktop.svg");
  background-position: top left, top right;
  background-repeat: no-repeat, no-repeat;
  overflow: hidden;
}

.container {
  width: 90vw;
  max-width: 1440px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1 {
  color: var(--dark-magenta);
  font-size: 3.5em;
  line-height: 1em;
}

#intro {
  display: flex;
  flex-flow: row;
  position: relative;
}

.intro-item {
  width: 100%;
  position: relative;
}

#text p {
  color: var(--dark-grayish-magenta);
  padding: 1em 6em 0 0;
}

.rate {
  background-color: var(--light-grayish-magenta);
  color: var(--dark-magenta);
  font-weight: 700;
  padding: 15px 30px;
  border-radius: 8px;
  display: flex;
  animation-name: moveInR;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0, 0, 0.6, 1);
  animation-fill-mode: backwards;
}

.stars {
  background-image: url("/images/icon-star.svg");
  background-repeat: space;
  background-position: center left;
  width: 100px;
  height: 16px;
  margin-right: 1.5em;
}

#comments {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 24vw;
  color: var(--light-grayish-magenta);
  background: var(--dark-magenta);
  border-radius: 10px;
  padding: 2em;
  font-size: 0.9em;
  animation-name: moveVer;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0, 0, 0.6, 1);
  animation-fill-mode: backwards;
}

.card .user {
  display: flex;
  align-items: center;
  margin: 0 0 25px 0;
}

.card .avatar img {
  border-radius: 50%;
  width: 50px;
  margin: 0 30px 0 0;
}

.card .name {
  font-weight: 700;
}

.card .role {
  color: var(--soft-pink);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@keyframes moveInR {
  0% {
    transform: translate(1000%, 0);
  }
  100% {
    transform: translate(0%, 0);
  }
}

@keyframes moveVer {
  0% {
    transform: translate(0, 1000%);
  }
  100% {
    transform: translate(0%, 0);
  }
}
